#Ignore all ls
$ cat .gitignore
*.[oa]
*~
/.git
/__OLDgit
/hooks
#ignore ide dir

/ADD
/OLD
/nbproject
/.idea
/.buildpath
/.project
/.settings*
#/app/code/core
/app/etc/local.xml
/app/etc/local.xml.bak
/dev
#/errors
#/includes
/__includes
/var
/var/backups
/var/locks
/var/import
/var/log
/var/tmp
/var/report
/var/resource_config.json
/var/cache
/var/session
/var/post_code.json
/var/package/tmp
/var/importexport

/media/catalog/product/
/media/catalog/product/cache
/media/tmp
/media/cache
#/media/css/
#/media/js/
#/media/customer/
/media/import
#/media/catalog/
#/media/xmlconnect
#/media/wysiwyg

/adminer-3.6.1.php
/*.sql
/*.log
/*.tar
/*.tgz
/*.rar
/.svn
/*.zip

vendor/
var/cache