<?xml version="1.0" ?>
<config>
    <modules>
        <DS_Hello>
            <version>0.0.1</version>
        </DS_Hello>
    </modules>


    <frontend>
        <layout>
            <updates>
                <dshello>
                    <file>ds_hello.xml</file>
                </dshello>
            </updates>
        </layout>

        <routers>
            <dshello>
                <use>standard</use>
                <args>
                    <module>DS_Hello</module>
                    <frontName>hello</frontName>
                </args>
            </dshello>
        </routers>

    </frontend>




    <global>

        <helpers>
            <dshello>
                <class>DS_Hello_Helper</class>
            </dshello>
        </helpers>




        <resources>
            <dshello_setup>
                <setup>
                    <module>DS_Hello</module>
                </setup>
            </dshello_setup>
        </resources>


    </global>

</config>